#!/bin/bash


#FORCE_TEST=1

OVIS_REPO=https://github.com/ovis-hpc/ovis
OVIS_BRANCH=OVIS-4
SOS_REPO=https://github.com/ovis-hpc/sos
SOS_BRANCH=78a37ec25665e1948161a0e6c1188fde2b275ee2
MAESTRO_REPO=https://github.com/ovis-hpc/maestro
MAESTRO_BRANCH=master
