# This configuration file is processed by Python configparser. It supports
# `#` leading line comments, but does NOT support in-line comments. For example:
#   ```
#   # This comment is OK.
#   a = b # This in-line comment is NOT OK.
#   ```
#
# The configuration file is expected to have at the least `[ldms-test]` section.
# `[singularity]` section is required only when the `runtime` is `singularity`.
# Please see available configuration parameters in each section below.

[ldms-test]
# ldms-test section contains non-runtime specific parameters

runtime = singularity
# specify the runtime: `singularity` or `docker`.

#mount = /home:/home:ro
# A list of additional SRC:DST[:MODE] bind mounts. The entries are separated by
# spaces or new-line. For example:
#
# ```
# mount = /home:/home:ro /foo:/bar:rw
#         /bob:/alice
# ```
#
# This binds: host /home to container /home with read-only mode, host /foo to
# container /bar with read-write mode, and host /bob to container /alice in
# read-write mode (default).

#user = root
# Optionally specify the username. The default is the name of the user invoking
# the script.

#prefix = /opt/ovis
# Optionally specify the ovis installation prefix. If not specified, LDMS_Test
# will try to determine from `which ldmsd`.

#src = /home/alice/ovis
# Optionally specify the path to the ovis source code. This is useful for gdb
# in the container. If specified, it is equivalent to having
# "/path/to/src:/path/to/src:ro" entry in mount.

#data_root = /some/path
# The path to the host db directory that store the shared data of the virtual
# cluster. If not specified, the default i `${HOME}/db/{clustername}`

#tada_addr = tada-host:9862
# Specify the address:port of the tadad. The default is "tada-host:9862".

#debug = 1
# Optionally turn on debug mod. The default is 0 (debug off). When the debug
# mode is on, the test scripts stop immediately when encountering failed
# assertion.

image = ovis-centos-build
# Optionally specify container image. The default is 'ovis-centos-build'.


[singularity]
# singularity section contains singularity-runtime specific parameters

hosts = localhost
# the list of hosts that singularity container instances run on. This list
# supports bash braces expansion. For example:
# ```
# hosts = node-{001..064} node-099
#         node-{127,129,155}
# ```

ip_addr_space = 10.100.0.0/16
# [REQUIRED] The subnet of the IP addresses to assign to containers.

ip_addr_db = sing_addr.db
# [REQUIRED] The database maintaining the IP address assignments.


# NOTE: docker runtime does not have docker-specific parameters


[direct_prdcr_subscribe_test]
# This section is used by `direct_prdcr_subscribe_test` script. The script
# requires 4 sampler daemons: SAMP1, SAMP2, AGG1, and AGG2. The tester can
# specify HOST and PORT for each daemon or not specifying them and use the
# default values. The default HOST is "localhost", and the ports are 10001
# (SAMP1), 10002 (SAMP2), 10003 (AGG1), and 10004 (AGG2). The default transport
# (XPRT) is "sock". Since the test script runs directly on the hosts, it needs
# to remotely execute commands via SSH. The `SSH_PORT` parameter overrides the
# default port 22.
#
# Example:
#
# XPRT = rdma
# SAMP1_HOST = cygnus-01-iw
# SAMP1_PORT = 10001
# SAMP2_HOST = cygnus-02-iw
# SAMP2_PORT = 10002
# AGG1_HOST = cygnus-03-iw
# AGG1_PORT = 10003
# AGG2_HOST = cygnus-04-iw
# AGG2_PORT = 10004
# SSH_PORT = 22


[direct_ldms_ls_conn_test]
# This section is used only by `direct_ldms_ls_conn_test` script. The script
# requires only one sampler daemon and one remote host. SAMP1_HOST is the host
# to run the sampler daemon, and SAMP1_PORT is the port of the sampler daemon.
# The SSH_PORT can be specified to use SSH over a port other than 22 (default).
#
# Example:
# XPRT = rdma
# SAMP1_HOST = cygnus-01-iw
# SAMP1_PORT = 10001
# SSH_PORT = 22
